/* **************************************** */
/* ************** Universal *************** */
/* **************************************** */

:root {
    --text-color: #E9EBEE;
    --background-color: #202020;
    ;
}


* {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--background-color);
    flex-wrap: wrap;
}

#header h1 {
    background-image: url(/a781ce32751817.56929eefe4f71.jpg);
    display: flex;
    justify-content: center;
    background-color: orange;
    padding: 1rem;
    border: 2px black solid;
    max-width: 1500px;
    color: black;
    font-size: 40px;

}

/* **************************************** */
/* ************** Index *************** */
/* **************************************** */
.title-index {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 1rem;

}

.main-box {
    display: flex;
    max-width: 1500px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;

}

.main-box .index-img {
    border: 2px black solid;

}

#pie {
    margin-left: 30px;
}

.head-title {
    display: flex;
    margin: 5px 20px;
    text-decoration: none;
    font-size: 35px;
    margin-bottom: 1rem;
    justify-content: center;
}

.main-box .link {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border: #202020 2px solid;
    border-radius: 10px;
}

.footer {
    background-image: url(/a781ce32751817.56929eefe4f71.jpg);
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    background-color: orange;
    padding: 1rem;
    border: 2px black solid;
    max-width: 1500px;
    color: black;
    font-size: 20px;
}

/* **************************************** */
/* *********** Chicken alfredo ************ */
/* **************************************** */
.title {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 20px;
    text-decoration: underline;
}

img {
    border: 2px solid var(--text-color);
}

.main-box .chicken-img {
    margin: auto;
}

.ingredients-header {
    font-size: 30px;
    margin-bottom: 1rem;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.ingredients {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.ingredients-border {
    border: 2px solid var(--text-color);
    padding:5px 25px;
}

.steps-header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 30px;
    margin-bottom: 1rem;
    text-decoration: underline;

}

.steps {
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
    font-size: 20px;
    border: 2px solid var(--text-color);
    padding: 2rem;
}

.nutrition-header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 30px;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.nutrition-words {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-left: 20rem;
    margin-right: 19.8rem;
    border: 2px solid var(--text-color);
    padding: 2px;

}

.nutrition-numbers {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-left: 20rem;
    margin-right: 20rem;
    border: 2px solid var(--text-color);
    padding: 2px;

}

.fats {
    margin-left: 13px;
}
/* **************************************** */
/* *********** Chicken alfredo ************ */
/* **************************************** */
.steps-header {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}